<% content_for :title, "会員一覧" %>

<div class="container mt-4">
  <h1 class="text-left">会員一覧</h1>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |c| %>
        <tr>
          <td><%= c.id %></td>
          <td><%= link_to "#{c.last_name} #{c.first_name}", admin_customer_path(c) %></td>
          <td><%= c.email %></td>
          <td>
            <% if c.is_active %>
              <span class="text-success">有効</span>
            <% else %>
              <span class="text-muted">無効</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
