<div class="container">
  <div class= "row">
    <div class="col-md-12">

      <div class="order-index-title">
        <h5 class="fs-6">
          <span class="px-2">注文履歴一覧</span>
        </h5>
      </div>


      <table class="table">
        <thead class="bg-light">
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td class="underline" ><%= link_to order.created_at.strftime("%Y/%m/%d %H:%M:%S") , admin_order_path(order) %></td>
              <td><%= order.customer.full_name %></td>
              <td><%= order.order_details.sum(:amount) %></td>
              <td><%= order.order_status_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>