@use '~bootstrap/scss/bootstrap';

header {
  height: 150px;
  position: relative;
}

.nagano{
  position: absolute;
  top: 20px;
  left: 40px;
}

.btn-outline-secondary {
  width: 130px; /* 全てのボタンに固定幅を設定 */
  text-align: center; /* ボタン内の文字を中央揃えに */
}

.search {
  float: right; /* 検索窓を画面の右側に配置 */
  position: relative;
  margin-right: 50px; /* 右端から20px左にずらす */
  margin-top: 15px;
}

.search i {
  color: lightblue;
  position: absolute;
  right: 10px; /* スペル修正 */
  top: 50%; /* 上下中央に配置 */
  transform: translateY(-50%); /* 上下中央に配置を調整 */
}

.search input {
  padding-right: 30px; /* アイコン分のスペースを確保 */
}





.item-index-title{
  position: relative;
  padding-bottom: 25px;
}

.plus-icon{
  position: absolute;
  top: 0px;
  right: 100px;
}

.px-2{
  background-color: #d6d6d6;
}

.underline {
    text-decoration: underline;
  }
  

  .image {
    background-size: contain;
  }
  
.oya {
  display: flex;
}

.yoko{
  margin-left: 150px;
}

.yoko1{
  margin-left: 165px;
}

.yoko2{
  margin-left: 100px;
}

.order-index-title {
  padding-bottom: 25px;
}

